header {
  background-color: blueviolet;
}

.cards__container {

  & .card__container {
    background-color: aqua;
    max-width: 320px;

    & .card__img_container {

      & > img {
        width: 50%;
      }
    }
  }
}

/* .card__img_container img {
  width: 50%;
} */

/* .cards__container .card__container {
  background-color: aqua;
  max-width: 320px;
} */
